<h1>WindInfo</h1>
<p>こんにちは</p>
<p><%= @msg %></p>
<p><%= @posts[0].hp %></p>


<% for i in 0..3 do %>
<h2><%= @posts[i].title %></h2>
<span><%= @posts[i].author%></span>
<span><%= @posts[i].date%></span>
<span><%= simple_format(@posts[i].article)%></span>

<% end %>
